#!/bin/bash
PATH_TO_RUBY=/usr/bin/ruby
PATH_TO_JIRA_UPLOADER_RB="<%= @jira_uploader_rb_path %>"
USER_HOME=$(getent passwd $USER | awk -F ':' '{print $6}')

# Display the Usage message
usage ()
{
        echo "Usage: jira_uploader ISSUE FILE_PATH"
        echo "Upload file attachments to specifed Jira Issue"
}

if [ -z "$1" ]; then
        echo "Error: You must include the Jira Issue ID"
        echo ""
        usage

        exit 1
fi

if [ -z "$2" ]; then
        echo "Error: You must include the path to the file to upload"
        echo ""
        usage

        exit 1
fi

if [ ! -f "$2" ]; then
        echo "Error: The file $2 does not exist!"
        echo ""
        usage

        exit 2
fi

if [ ! -f "${USER_HOME}/<%= @jira_uploader_yml %>" ]; then
        echo "Error: The ${USER_HOME}/<%= @jira_uploader_yml %> file was not found!"
        echo ""
        usage

        exit 3
fi

issue=$1
file_path=$2

$PATH_TO_RUBY $PATH_TO_JIRA_UPLOADER_RB -t $issue -f $file_path

echo $?
